html, body {
    font-family: Lato, sans-serif;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    width: 206px;
    padding: 0 40px;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    margin-right: 36px;
    display: inline-block;
    white-space: nowrap;
    transition: 0.3s;
}

.button:hover {
    transform: scale(1.05);
}

.logo {}

/* ......................................................................... */
.header {
    padding-top: 20px;
    background: url(../images/Page-1/decor/fon.svg) 50% 50% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {}

.container {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    font-weight: 700;
    line-height: 1.6;
    color: #424551;
    white-space: nowrap;
}

.header__nav-link:hover {
    color: #FF3F3A;
    transition: 0.3s;
}

.header__btn-box {
    display: flex;
}

.header__top-btn {}

.button-1 {
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    width: 148px;
    padding: 0 40px;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    margin-right: 24px;
    display: inline-block;
    white-space: nowrap;
    transition: 0.3s;
}

.button-1:hover {
    transform: scale(1.05);
}

.button-2 {
    color: #FFFFFF;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    width: 201px;
    padding: 0 40px;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);

    display: inline-block;
    white-space: nowrap;
    transition: 0.3s;
}

.button-2:hover {
    transform: scale(1.05);
}

.user-icon {
    margin-right: 9.67px;

}

.header__user-nav {
    display: flex;
    align-items: center;
    font-weight: 700;
    line-height: 160%;
    color: #424551;
}

.header__user-btn1 {
    white-space: nowrap;
    margin-right: 4px;
}

.header__user-btn1:hover {
    color: #FF3F3A;
    transition: 0.3s;
}

.header__user-btn2 {
    white-space: nowrap;
    margin-left: 4px;
}

.header__user-btn2:hover {
    color: #FF3F3A;
    transition: 0.3s;
}

/* ............................................................................. */

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1E212C;
    margin: auto;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 24px;
}

.header__play svg {
    margin-right: 16px;
    /* border-radius: 50%;
    box-shadow: 0 0 0 16px rgba(255, 63, 57, 0.12); */
}

.header__play:hover svg {
    border-radius: 100%;
    box-shadow: 0 0 0 16px rgba(255, 63, 57, 0.12);
    transition: 0.3s;
}

.header__title {
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {}

.header__content-btn {}

.image {}

/* ................................................... */

.header__static {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header__static-item {
    display: flex;
    align-items: center;


}

.header__static-item span {
    color: rgba(30, 33, 44, 1);
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-right: 12px;
}

.header__static>span {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #FF3F3A;
    margin: 15px;
}